flows_Sakuya.json
[{"id":"cb40cbfd.ffb358","type":"tab","label":"HASS Automations","disabled":false,"info":""},{"id":"eb42db34.b47f28","type":"mqtt-broker","z":"","name":"Localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4569a41f.73170c","type":"server","z":"","name":"Home Assistant","url":"http://localhost:8123","pass":"81Nanoha275!"},{"id":"70516358.de796c","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"MM Closet Door","server":"4569a41f.73170c","entityidfilter":"binary_sensor.master_closet_door","entityidfiltertype":"exact","haltifstate":"","x":240,"y":120,"wires":[["96b1ed96.b05ff"]]},{"id":"96b1ed96.b05ff","type":"switch","z":"cb40cbfd.ffb358","name":"Opened/Closed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":120,"wires":[["6931de8a.13e56","158bad7c.ed0a43"],["9faf11f4.9c5aa"]]},{"id":"6931de8a.13e56","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light On?","server":"4569a41f.73170c","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"switch.master_main_closet","x":1060,"y":140,"wires":[["5334c0f3.cd70c"]]},{"id":"5334c0f3.cd70c","type":"api-call-service","z":"cb40cbfd.ffb358","name":"ON","server":"4569a41f.73170c","service_domain":"switch","service":"turn_on","data":"{   \"entity_id\": \"switch.master_main_closet\" }","mergecontext":"","x":1230,"y":140,"wires":[[]]},{"id":"b57291e0.079a5","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"switch.master_main_closet","server":"4569a41f.73170c","entityidfilter":"switch.master_main_closet","entityidfiltertype":"exact","haltifstate":"","x":270,"y":200,"wires":[["4e595249.ba8e5c"]]},{"id":"158bad7c.ed0a43","type":"stoptimer","z":"cb40cbfd.ffb358","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":840,"y":200,"wires":[["9faf11f4.9c5aa"],[]]},{"id":"4a661e52.3541","type":"api-call-service","z":"cb40cbfd.ffb358","name":"OFF","server":"4569a41f.73170c","service_domain":"switch","service":"turn_off","data":"{   \"entity_id\": \"switch.master_main_closet\" }","mergecontext":"","x":1230,"y":180,"wires":[[]]},{"id":"9647e672.090e28","type":"comment","z":"cb40cbfd.ffb358","name":"Master on Main Closet Light control","info":"","x":200,"y":60,"wires":[]},{"id":"c0e17c2.c5f5a8","type":"comment","z":"cb40cbfd.ffb358","name":"Aquarium Light Control","info":"","x":160,"y":420,"wires":[]},{"id":"ec2eb1b8.76eb5","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light On?","server":"4569a41f.73170c","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"switch.aquarium_light","x":940,"y":520,"wires":[["6a0a565.d46f5a8"]]},{"id":"6a0a565.d46f5a8","type":"api-call-service","z":"cb40cbfd.ffb358","name":"ON","server":"4569a41f.73170c","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\":\"switch.aquarium_light\" }","mergecontext":"","x":1110,"y":520,"wires":[[]]},{"id":"96ef31c3.f6ec6","type":"api-call-service","z":"cb40cbfd.ffb358","name":"OFF","server":"4569a41f.73170c","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\":\"switch.aquarium_light\" }","mergecontext":"","x":1110,"y":560,"wires":[[]]},{"id":"a863471f.413828","type":"switch","z":"cb40cbfd.ffb358","name":"On or Off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":540,"wires":[["ec2eb1b8.76eb5"],["e99800a5.502df"]]},{"id":"e99800a5.502df","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"switch.aquarium_light","x":940,"y":560,"wires":[["96ef31c3.f6ec6"]]},{"id":"e25d79c9.bf04a8","type":"inject","z":"cb40cbfd.ffb358","name":"On","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":480,"wires":[["321bcd4a.ecddd2"]]},{"id":"584f99d.2deca68","type":"inject","z":"cb40cbfd.ffb358","name":"Off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":520,"wires":[["321bcd4a.ecddd2"]]},{"id":"90fdd167.2c7f5","type":"inject","z":"cb40cbfd.ffb358","name":"","topic":"","payload":"sync","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"10","x":250,"y":560,"wires":[["321bcd4a.ecddd2"]]},{"id":"952ee5f8.fdeed8","type":"inject","z":"cb40cbfd.ffb358","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":600,"wires":[["321bcd4a.ecddd2"]]},{"id":"321bcd4a.ecddd2","type":"bigtimer","z":"cb40cbfd.ffb358","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Sunrise/Sunset","lat":"33.88972888","lon":"-83.81535298","starttime":"5003","endtime":"5004","startoff":0,"endoff":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":460,"y":540,"wires":[["a863471f.413828"],[],[]]},{"id":"9faf11f4.9c5aa","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"switch.master_main_closet","x":1060,"y":180,"wires":[["4a661e52.3541"]]},{"id":"48407359.b7e5bc","type":"switch","z":"cb40cbfd.ffb358","name":"Motion On/Off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":1100,"wires":[["79859b9d.b140b4","33a6f84a.e85f18"],["33a6f84a.e85f18"]]},{"id":"79859b9d.b140b4","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light On?","server":"4569a41f.73170c","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"switch.garage_lights","x":1200,"y":1040,"wires":[["6a3bc9ff.b3d9c8"]]},{"id":"6a3bc9ff.b3d9c8","type":"api-call-service","z":"cb40cbfd.ffb358","name":"ON","server":"4569a41f.73170c","service_domain":"switch","service":"turn_on","data":"{   \"entity_id\": \"switch.garage_lights\" }","mergecontext":"","x":1450,"y":1040,"wires":[[]]},{"id":"f502be15.f789f","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"switch.garage_lights","server":"4569a41f.73170c","entityidfilter":"switch.garage_lights","entityidfiltertype":"exact","haltifstate":"","x":270,"y":1020,"wires":[["d87da207.6ef0c"]]},{"id":"33a6f84a.e85f18","type":"stoptimer","z":"cb40cbfd.ffb358","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":900,"y":1020,"wires":[["3056efd4.ce836"],[]]},{"id":"3056efd4.ce836","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Motion On?","server":"4569a41f.73170c","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.garage_motion","x":1110,"y":1100,"wires":[["4c2b87bf.240748"]]},{"id":"61152cb0.ee3f34","type":"api-call-service","z":"cb40cbfd.ffb358","name":"OFF","server":"4569a41f.73170c","service_domain":"switch","service":"turn_off","data":"{   \"entity_id\": \"switch.garage_lights\" }","mergecontext":"","x":1450,"y":1100,"wires":[[]]},{"id":"d38ce03f.d07e9","type":"comment","z":"cb40cbfd.ffb358","name":"Garage Light control","info":"","x":150,"y":760,"wires":[]},{"id":"4c2b87bf.240748","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"switch.garage_lights","x":1280,"y":1100,"wires":[["61152cb0.ee3f34"]]},{"id":"c8a18881.9db8c8","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"Garage Door state","server":"4569a41f.73170c","entityidfilter":"cover.main_garage","entityidfiltertype":"exact","haltifstate":"","x":270,"y":860,"wires":[["530a9776.5d1f48"]]},{"id":"530a9776.5d1f48","type":"switch","z":"cb40cbfd.ffb358","name":"Door Opened?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"closed","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":860,"wires":[["79859b9d.b140b4","33a6f84a.e85f18"],[]]},{"id":"7957d3b6.1c1fac","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"switch.garage_lights","x":660,"y":940,"wires":[["33a6f84a.e85f18"]]},{"id":"34287961.2078c6","type":"inject","z":"cb40cbfd.ffb358","name":"Startup Sync","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":190,"y":280,"wires":[["d18c5d29.0f2ae"]]},{"id":"f0a8fac1.7692a8","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"switch.master_main_closet","x":620,"y":280,"wires":[["158bad7c.ed0a43"]]},{"id":"a76941ca.57f93","type":"status","z":"cb40cbfd.ffb358","name":"","scope":["b57291e0.079a5"],"x":180,"y":320,"wires":[["d473e585.0cc7d8"]]},{"id":"d473e585.0cc7d8","type":"switch","z":"cb40cbfd.ffb358","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":320,"wires":[["d18c5d29.0f2ae"]]},{"id":"d18c5d29.0f2ae","type":"delay","z":"cb40cbfd.ffb358","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":280,"wires":[["f0a8fac1.7692a8"]]},{"id":"66f064f4.39ccfc","type":"inject","z":"cb40cbfd.ffb358","name":"Startup Sync","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":210,"y":920,"wires":[["30037a60.864c16"]]},{"id":"9f56423a.30fc1","type":"status","z":"cb40cbfd.ffb358","name":"","scope":["f502be15.f789f"],"x":200,"y":960,"wires":[["141a86b.30d1779"]]},{"id":"141a86b.30d1779","type":"switch","z":"cb40cbfd.ffb358","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":960,"wires":[["30037a60.864c16"]]},{"id":"30037a60.864c16","type":"delay","z":"cb40cbfd.ffb358","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":940,"wires":[["7957d3b6.1c1fac"]]},{"id":"1f208b5b.137595","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"sensor.esp32_2852c4_rtd_temp","server":"4569a41f.73170c","entityidfilter":"sensor.esp32_2852c4_rtd_temp","entityidfiltertype":"exact","haltifstate":"","x":250,"y":1460,"wires":[["5102bdc1.456724"]]},{"id":"5102bdc1.456724","type":"json","z":"cb40cbfd.ffb358","name":"","property":"payload","action":"","pretty":true,"x":550,"y":1460,"wires":[["b43732e5.45596","9bdc5b41.58ed58"]]},{"id":"7c8c79f4.f8f388","type":"debug","z":"cb40cbfd.ffb358","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":1460,"wires":[]},{"id":"b43732e5.45596","type":"debug","z":"cb40cbfd.ffb358","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":1540,"wires":[]},{"id":"9bdc5b41.58ed58","type":"function","z":"cb40cbfd.ffb358","name":"On or Off","func":"if (msg.payload >= 100) {\n    var pl = \"On\";\n}\nif (msg.payload < 100) {\n    var pl = \"Off\";\n}\nvar newMsg = [{ topic:msg.topic,\n                payload:pl,\n                temperature:msg.payload,\n                _msgid:msg._msgid\n}];\nreturn newMsg;","outputs":1,"noerr":0,"x":740,"y":1440,"wires":[["7c8c79f4.f8f388"]]},{"id":"451c6187.60fc5","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"Basement Stairway Motion","server":"4569a41f.73170c","entityidfilter":"binary_sensor.basement_stairway_motion","entityidfiltertype":"exact","haltifstate":"","x":270,"y":1960,"wires":[["9f3c4d07.497aa"]]},{"id":"9f3c4d07.497aa","type":"switch","z":"cb40cbfd.ffb358","name":"Motion On/Off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":1960,"wires":[["858327f5.343a38","b44a72dd.201c6"],["858327f5.343a38"]]},{"id":"b44a72dd.201c6","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light On?","server":"4569a41f.73170c","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"switch.basement_stairway_light","x":1200,"y":1900,"wires":[["af95df0a.1854a"]]},{"id":"af95df0a.1854a","type":"api-call-service","z":"cb40cbfd.ffb358","name":"Switch ON","server":"4569a41f.73170c","service_domain":"switch","service":"turn_on","data":"{   \"entity_id\": \"switch.basement_stairway_light\" }","mergecontext":"","x":1470,"y":1900,"wires":[[]]},{"id":"d04a1997.5b28e8","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"switch.basement_stairway_light","server":"4569a41f.73170c","entityidfilter":"switch.basement_stairway_light","entityidfiltertype":"exact","haltifstate":"","x":250,"y":1880,"wires":[["fbdd1f6c.5385"]]},{"id":"858327f5.343a38","type":"stoptimer","z":"cb40cbfd.ffb358","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":900,"y":1880,"wires":[["2d6f7ef2.1f6522"],[]]},{"id":"2d6f7ef2.1f6522","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Motion On?","server":"4569a41f.73170c","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.basement_stairway_motion","x":1110,"y":1960,"wires":[["aa98741b.3418a8"]]},{"id":"9dea486a.6e9fd8","type":"api-call-service","z":"cb40cbfd.ffb358","name":"Switch OFF","server":"4569a41f.73170c","service_domain":"switch","service":"turn_off","data":"{   \"entity_id\": \"switch.basement_stairway_light\" }","mergecontext":"","x":1470,"y":1960,"wires":[[]]},{"id":"3a1d3715.f69698","type":"comment","z":"cb40cbfd.ffb358","name":"Basement Light control","info":"","x":160,"y":1620,"wires":[]},{"id":"aa98741b.3418a8","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"switch.basement_stairway_light","x":1280,"y":1960,"wires":[["9dea486a.6e9fd8"]]},{"id":"26dcdd6d.8ccf32","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"Basement Door state","server":"4569a41f.73170c","entityidfilter":"binary_sensor.basement_stairway_door","entityidfiltertype":"exact","haltifstate":"","x":280,"y":1720,"wires":[["c2f6d01.cad543"]]},{"id":"c2f6d01.cad543","type":"switch","z":"cb40cbfd.ffb358","name":"Door Opened?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":1720,"wires":[["b44a72dd.201c6","858327f5.343a38"],[]]},{"id":"8d1d5950.50db58","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"switch.basement_stairway_light","x":660,"y":1800,"wires":[["858327f5.343a38"]]},{"id":"c3831c85.9f4dc","type":"inject","z":"cb40cbfd.ffb358","name":"Startup Sync","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":210,"y":1780,"wires":[["91f8087f.17d318"]]},{"id":"65133857.b5a288","type":"status","z":"cb40cbfd.ffb358","name":"","scope":["d04a1997.5b28e8"],"x":200,"y":1820,"wires":[["cbbf82da.942b3"]]},{"id":"cbbf82da.942b3","type":"switch","z":"cb40cbfd.ffb358","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1820,"wires":[["91f8087f.17d318"]]},{"id":"91f8087f.17d318","type":"delay","z":"cb40cbfd.ffb358","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":1800,"wires":[["8d1d5950.50db58"]]},{"id":"611befb5.dd2d4","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"switch.basement_lights","server":"4569a41f.73170c","entityidfilter":"switch.basement_lights","entityidfiltertype":"exact","haltifstate":"","x":280,"y":2120,"wires":[["cdfb6c0d.3d827"]]},{"id":"bae333e.bed04d","type":"stoptimer","z":"cb40cbfd.ffb358","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":900,"y":2120,"wires":[["93c915b1.19bce8"],[]]},{"id":"4031c055.c8214","type":"api-call-service","z":"cb40cbfd.ffb358","name":"OFF","server":"4569a41f.73170c","service_domain":"switch","service":"turn_off","data":"{   \"entity_id\": \"switch.basement_lights\" }","mergecontext":"","x":1290,"y":2100,"wires":[[]]},{"id":"93c915b1.19bce8","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"switch.basement_lights","x":1120,"y":2100,"wires":[["4031c055.c8214"]]},{"id":"7672bb4b.9d9c24","type":"inject","z":"cb40cbfd.ffb358","name":"Startup Sync","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":250,"y":2200,"wires":[["fe0a6413.6e8158"]]},{"id":"d42c1d2.e4f90e","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"switch.basement_lights","x":680,"y":2200,"wires":[["bae333e.bed04d"]]},{"id":"9a5705c3.342e78","type":"status","z":"cb40cbfd.ffb358","name":"","scope":["611befb5.dd2d4"],"x":240,"y":2240,"wires":[["6deb5ff6.8fb53"]]},{"id":"6deb5ff6.8fb53","type":"switch","z":"cb40cbfd.ffb358","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":2240,"wires":[["fe0a6413.6e8158"]]},{"id":"fe0a6413.6e8158","type":"delay","z":"cb40cbfd.ffb358","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":2200,"wires":[["d42c1d2.e4f90e"]]},{"id":"fe617df1.51da3","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"binary_sensor.garage_motion","server":"4569a41f.73170c","entityidfilter":"binary_sensor.garage_motion","entityidfiltertype":"exact","haltifstate":"","x":260,"y":1100,"wires":[["48407359.b7e5bc"]]},{"id":"4e595249.ba8e5c","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"switch.master_main_closet","x":620,"y":200,"wires":[["158bad7c.ed0a43"]]},{"id":"d87da207.6ef0c","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"switch.garage_lights","x":660,"y":1020,"wires":[["33a6f84a.e85f18"]]},{"id":"fbdd1f6c.5385","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"switch.basement_stairway_light","x":660,"y":1880,"wires":[["858327f5.343a38"]]},{"id":"cdfb6c0d.3d827","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"switch.basement_lights","x":680,"y":2120,"wires":[["bae333e.bed04d"]]}]