flows_Sakuya.json
[{"id":"cb40cbfd.ffb358","type":"tab","label":"HASS Automations","disabled":false,"info":""},{"id":"f534b717.4d79f8","type":"tab","label":"Sensor Graphing","disabled":false,"info":""},{"id":"eb42db34.b47f28","type":"mqtt-broker","z":"","name":"Localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d7769176.dc737","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"78f95c9d.22e254","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4c5d5b6d.c265e4","type":"ui_group","z":"","name":"Chart","tab":"d7769176.dc737","order":1,"disp":true,"width":"12","collapse":false},{"id":"395e6c5f.d70b24","type":"ui_group","z":"","name":"ESP32_2852C4","tab":"d7769176.dc737","order":2,"disp":true,"width":"12","collapse":false},{"id":"4569a41f.73170c","type":"server","z":"","name":"Home Assistant","url":"http://localhost:8123","pass":"81Nanoha275!"},{"id":"8c5ecb31.5e4e48","type":"mqtt in","z":"f534b717.4d79f8","name":"","topic":"sensor/ESP8266-600194_259281","qos":"0","broker":"eb42db34.b47f28","x":200,"y":320,"wires":[["3d85aab2.76ea36","5e099852.619348"]]},{"id":"2d89cd68.cb0f52","type":"ui_chart","z":"f534b717.4d79f8","name":"Garage Temp","group":"4c5d5b6d.c265e4","order":0,"width":"0","height":"0","label":"HUZZAH Probe and Garage Sensor","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1120,"y":140,"wires":[[],[]]},{"id":"8313480e.a87a78","type":"ui_gauge","z":"f534b717.4d79f8","name":"HUZZAH","group":"4c5d5b6d.c265e4","order":0,"width":"3","height":"3","gtype":"gage","title":"RTD_Temp","label":"°F","format":"{{msg.payload.RTD_Temp}}°F","min":"-13","max":"212","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1100,"y":200,"wires":[]},{"id":"3d85aab2.76ea36","type":"debug","z":"f534b717.4d79f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":260,"wires":[]},{"id":"c0a30aba.3b0fa8","type":"mqtt in","z":"f534b717.4d79f8","name":"","topic":"sensor/ESP32-30AEA4_2852C4","qos":"0","broker":"eb42db34.b47f28","x":190,"y":580,"wires":[["5b63063f.a7caf8","8412869.b838c78"]]},{"id":"5b63063f.a7caf8","type":"debug","z":"f534b717.4d79f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":680,"wires":[]},{"id":"4e211924.9af528","type":"ui_chart","z":"f534b717.4d79f8","name":"","group":"395e6c5f.d70b24","order":0,"width":"0","height":"0","label":"Temperature","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1450,"y":760,"wires":[[],[]]},{"id":"8412869.b838c78","type":"json","z":"f534b717.4d79f8","name":"","property":"payload","action":"","pretty":false,"x":470,"y":580,"wires":[["55db8857.af5bd8","5ad0179c.22ee28","7be3270.78b5ad8","7703389a.a0c9b8","32cec9bb.2555e6","ea04ace8.c1ec2","13268c85.e0f423","63c0ea90.766cb4","f49083e3.f6458","2c394ccc.33e394"]]},{"id":"55db8857.af5bd8","type":"debug","z":"f534b717.4d79f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":480,"wires":[]},{"id":"5ad0179c.22ee28","type":"ui_gauge","z":"f534b717.4d79f8","name":"","group":"395e6c5f.d70b24","order":1,"width":"3","height":"3","gtype":"gage","title":"RTD_Temp","label":"°F","format":"{{msg.payload.RTD_Temp}}°F","min":"-13","max":"212","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":340,"wires":[]},{"id":"7be3270.78b5ad8","type":"ui_gauge","z":"f534b717.4d79f8","name":"","group":"395e6c5f.d70b24","order":1,"width":"3","height":"3","gtype":"gage","title":"DHT_Temp","label":"°F","format":"{{msg.payload.DHT_Temp}}°F","min":"-13","max":"212","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":380,"wires":[]},{"id":"7703389a.a0c9b8","type":"ui_gauge","z":"f534b717.4d79f8","name":"","group":"395e6c5f.d70b24","order":1,"width":"3","height":"3","gtype":"gage","title":"DHT_RH","label":"%","format":"{{msg.payload.DHT_RH}}%","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1100,"y":420,"wires":[]},{"id":"ea04ace8.c1ec2","type":"ui_gauge","z":"f534b717.4d79f8","name":"","group":"395e6c5f.d70b24","order":1,"width":"3","height":"3","gtype":"gage","title":"Si7021_Temp","label":"°F","format":"{{msg.payload.Si7021_Temp}}°F","min":"-13","max":"212","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1120,"y":460,"wires":[]},{"id":"d308a747.e08e58","type":"debug","z":"f534b717.4d79f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":820,"wires":[]},{"id":"aaadbb5b.ae6bf8","type":"inject","z":"f534b717.4d79f8","name":"Clear Chart","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1470,"y":660,"wires":[["4e211924.9af528"]]},{"id":"6987b7d6.580918","type":"inject","z":"f534b717.4d79f8","name":"Clear Chart","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":80,"wires":[["2d89cd68.cb0f52"]]},{"id":"3837ac9c.b0f394","type":"mqtt in","z":"f534b717.4d79f8","name":"","topic":"smartthings/Garage Sensor/temperature","qos":"0","broker":"eb42db34.b47f28","x":180,"y":380,"wires":[["2e26e086.d0fe7","3d85aab2.76ea36"]]},{"id":"2e26e086.d0fe7","type":"change","z":"f534b717.4d79f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Garage Temp F","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":380,"wires":[["2d89cd68.cb0f52","cd7e884d.aaaa18"]]},{"id":"cd7e884d.aaaa18","type":"ui_gauge","z":"f534b717.4d79f8","name":"Garage Sensor","group":"4c5d5b6d.c265e4","order":0,"width":"3","height":"3","gtype":"gage","title":"{{msg.topic}}","label":"°F","format":"{{value}}°F","min":"-13","max":"212","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1120,"y":240,"wires":[]},{"id":"32cec9bb.2555e6","type":"split","z":"f534b717.4d79f8","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":690,"y":720,"wires":[["d308a747.e08e58","dfbe20e0.11787"]]},{"id":"13268c85.e0f423","type":"ui_gauge","z":"f534b717.4d79f8","name":"","group":"395e6c5f.d70b24","order":1,"width":"3","height":"3","gtype":"gage","title":"Si7021_RH","label":"%","format":"{{msg.payload.Si7021_RH}}%","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":500,"wires":[]},{"id":"63c0ea90.766cb4","type":"ui_gauge","z":"f534b717.4d79f8","name":"","group":"395e6c5f.d70b24","order":1,"width":"3","height":"3","gtype":"gage","title":"BME_Temp","label":"°F","format":"{{msg.payload.BME_Temp}}°F","min":"-13","max":"212","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":540,"wires":[]},{"id":"f49083e3.f6458","type":"ui_gauge","z":"f534b717.4d79f8","name":"","group":"395e6c5f.d70b24","order":1,"width":"3","height":"3","gtype":"gage","title":"BME_RH","label":"%","format":"{{msg.payload.BME_RH}}%","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1100,"y":580,"wires":[]},{"id":"2c394ccc.33e394","type":"ui_gauge","z":"f534b717.4d79f8","name":"","group":"395e6c5f.d70b24","order":1,"width":"3","height":"3","gtype":"gage","title":"BME_hPa","label":"hPa","format":"{{msg.payload.BME_hPa}}hPa","min":"350","max":"1150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1100,"y":620,"wires":[]},{"id":"b6cc0ce3.673e","type":"ui_chart","z":"f534b717.4d79f8","name":"","group":"395e6c5f.d70b24","order":0,"width":"0","height":"0","label":"Realative Humidity","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1470,"y":820,"wires":[[],[]]},{"id":"6a8a239c.91427c","type":"inject","z":"f534b717.4d79f8","name":"Clear Chart","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":900,"wires":[["b6cc0ce3.673e"]]},{"id":"9c045939.a563d8","type":"ui_chart","z":"f534b717.4d79f8","name":"","group":"395e6c5f.d70b24","order":0,"width":"0","height":"0","label":"Pressure","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1440,"y":980,"wires":[[],[]]},{"id":"69b4523e.d9149c","type":"inject","z":"f534b717.4d79f8","name":"Clear Chart","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":1060,"wires":[["9c045939.a563d8"]]},{"id":"dfbe20e0.11787","type":"switch","z":"f534b717.4d79f8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Temp","vt":"str"},{"t":"cont","v":"RH","vt":"str"},{"t":"cont","v":"hPa","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1030,"y":780,"wires":[["4e211924.9af528"],["b6cc0ce3.673e"],["9c045939.a563d8"]]},{"id":"5e099852.619348","type":"json","z":"f534b717.4d79f8","name":"","property":"payload","action":"","pretty":false,"x":470,"y":320,"wires":[["8313480e.a87a78","62572c63.094844","7f24a561.353cec"]]},{"id":"62572c63.094844","type":"debug","z":"f534b717.4d79f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":200,"wires":[]},{"id":"7f24a561.353cec","type":"split","z":"f534b717.4d79f8","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":710,"y":240,"wires":[["2d89cd68.cb0f52"]]},{"id":"70516358.de796c","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"MM_Closet_motion","server":"4569a41f.73170c","entityidfilter":"binary_sensor.aeotec_zw100_multisensor_6_sensor","entityidfiltertype":"exact","haltifstate":"","x":150,"y":120,"wires":[["96b1ed96.b05ff"]]},{"id":"96b1ed96.b05ff","type":"switch","z":"cb40cbfd.ffb358","name":"Motion On/Off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":120,"wires":[["6931de8a.13e56","158bad7c.ed0a43"],["158bad7c.ed0a43"]]},{"id":"6931de8a.13e56","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light On?","server":"4569a41f.73170c","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"switch.master_main_closet","x":780,"y":120,"wires":[["5334c0f3.cd70c"]]},{"id":"5334c0f3.cd70c","type":"api-call-service","z":"cb40cbfd.ffb358","name":"ON","server":"4569a41f.73170c","service_domain":"switch","service":"turn_on","data":"{   \"entity_id\": \"switch.master_main_closet\" }","mergecontext":"","x":990,"y":120,"wires":[[]]},{"id":"b57291e0.079a5","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"MM_Closet_Switch On","server":"4569a41f.73170c","entityidfilter":"switch.master_main_closet","entityidfiltertype":"exact","haltifstate":"","x":160,"y":200,"wires":[["158bad7c.ed0a43"]]},{"id":"158bad7c.ed0a43","type":"stoptimer","z":"cb40cbfd.ffb358","duration":"2","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":540,"y":200,"wires":[["8d035425.7fc5a8"],[]]},{"id":"8d035425.7fc5a8","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Motion On?","server":"4569a41f.73170c","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.aeotec_zw100_multisensor_6_sensor","x":790,"y":180,"wires":[["9faf11f4.9c5aa"]]},{"id":"4a661e52.3541","type":"api-call-service","z":"cb40cbfd.ffb358","name":"OFF","server":"4569a41f.73170c","service_domain":"switch","service":"turn_off","data":"{   \"entity_id\": \"switch.master_main_closet\" }","mergecontext":"","x":990,"y":200,"wires":[[]]},{"id":"9647e672.090e28","type":"comment","z":"cb40cbfd.ffb358","name":"Master on Main Closet Light control","info":"","x":160,"y":60,"wires":[]},{"id":"c0e17c2.c5f5a8","type":"comment","z":"cb40cbfd.ffb358","name":"Aquarium Light Control","info":"","x":120,"y":300,"wires":[]},{"id":"ec2eb1b8.76eb5","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light On?","server":"4569a41f.73170c","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"switch.aquarium_light","x":800,"y":380,"wires":[["6a0a565.d46f5a8"]]},{"id":"6a0a565.d46f5a8","type":"api-call-service","z":"cb40cbfd.ffb358","name":"ON","server":"4569a41f.73170c","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\":\"switch.aquarium_light\" }","mergecontext":"","x":970,"y":380,"wires":[[]]},{"id":"96ef31c3.f6ec6","type":"api-call-service","z":"cb40cbfd.ffb358","name":"OFF","server":"4569a41f.73170c","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\":\"switch.aquarium_light\" }","mergecontext":"","x":970,"y":420,"wires":[[]]},{"id":"a863471f.413828","type":"switch","z":"cb40cbfd.ffb358","name":"On or Off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":400,"wires":[["ec2eb1b8.76eb5"],["e99800a5.502df"]]},{"id":"e99800a5.502df","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"switch.aquarium_light","x":800,"y":420,"wires":[["96ef31c3.f6ec6"]]},{"id":"e25d79c9.bf04a8","type":"inject","z":"cb40cbfd.ffb358","name":"On","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["321bcd4a.ecddd2"]]},{"id":"584f99d.2deca68","type":"inject","z":"cb40cbfd.ffb358","name":"Off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":400,"wires":[["321bcd4a.ecddd2"]]},{"id":"90fdd167.2c7f5","type":"inject","z":"cb40cbfd.ffb358","name":"","topic":"","payload":"sync","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["321bcd4a.ecddd2"]]},{"id":"952ee5f8.fdeed8","type":"inject","z":"cb40cbfd.ffb358","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":480,"wires":[["321bcd4a.ecddd2"]]},{"id":"321bcd4a.ecddd2","type":"bigtimer","z":"cb40cbfd.ffb358","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Sunrise/Sunset","lat":"33.88972888","lon":"-83.81535298","starttime":"5003","endtime":"5004","startoff":0,"endoff":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":320,"y":400,"wires":[["a863471f.413828"],[],[]]},{"id":"fa982a77.e274f8","type":"time-range-switch","z":"cb40cbfd.ffb358","name":"","lat":"33.88972888","lon":"-83.81535298","startTime":"07:28","endTime":"goldenHour","startOffset":0,"endOffset":0,"x":1390,"y":40,"wires":[[],[]]},{"id":"9faf11f4.9c5aa","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"switch.master_main_closet","x":780,"y":220,"wires":[["4a661e52.3541"]]}]