flows_Sakuya.json
[{"id":"cb40cbfd.ffb358","type":"tab","label":"HASS Automations","disabled":false,"info":""},{"id":"4569a41f.73170c","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open"},{"id":"70516358.de796c","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"MM Closet Door","server":"4569a41f.73170c","version":1,"entityidfilter":"binary_sensor.master_closet_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":260,"y":100,"wires":[["96b1ed96.b05ff"]]},{"id":"96b1ed96.b05ff","type":"switch","z":"cb40cbfd.ffb358","name":"Opened/Closed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":100,"wires":[["6931de8a.13e56","158bad7c.ed0a43"],["9faf11f4.9c5aa"]]},{"id":"6931de8a.13e56","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light On?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.master_main_closet","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1060,"y":100,"wires":[[],["5334c0f3.cd70c"]]},{"id":"5334c0f3.cd70c","type":"api-call-service","z":"cb40cbfd.ffb358","name":"ON","server":"4569a41f.73170c","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.master_main_closet","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1210,"y":100,"wires":[[]]},{"id":"b57291e0.079a5","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"switch.master_main_closet","server":"4569a41f.73170c","version":1,"entityidfilter":"switch.master_main_closet","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":230,"y":220,"wires":[[],["e85f1e2f.cd5cc"]]},{"id":"158bad7c.ed0a43","type":"stoptimer","z":"cb40cbfd.ffb358","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":780,"y":160,"wires":[["9faf11f4.9c5aa"],[]]},{"id":"4a661e52.3541","type":"api-call-service","z":"cb40cbfd.ffb358","name":"OFF","server":"4569a41f.73170c","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.master_main_closet","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1210,"y":140,"wires":[[]]},{"id":"9647e672.090e28","type":"comment","z":"cb40cbfd.ffb358","name":"Master on Main Closet Light control","info":"","x":200,"y":60,"wires":[]},{"id":"c0e17c2.c5f5a8","type":"comment","z":"cb40cbfd.ffb358","name":"Aquarium Light Control","info":"","x":160,"y":420,"wires":[]},{"id":"ec2eb1b8.76eb5","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light On?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.aquarium_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":940,"y":500,"wires":[[],["6a0a565.d46f5a8"]]},{"id":"6a0a565.d46f5a8","type":"api-call-service","z":"cb40cbfd.ffb358","name":"ON","server":"4569a41f.73170c","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.aquarium_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1110,"y":500,"wires":[[]]},{"id":"96ef31c3.f6ec6","type":"api-call-service","z":"cb40cbfd.ffb358","name":"OFF","server":"4569a41f.73170c","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.aquarium_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1110,"y":580,"wires":[[]]},{"id":"a863471f.413828","type":"switch","z":"cb40cbfd.ffb358","name":"On or Off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":540,"wires":[["ec2eb1b8.76eb5"],["e99800a5.502df"]]},{"id":"e99800a5.502df","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.aquarium_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":940,"y":580,"wires":[[],["96ef31c3.f6ec6"]]},{"id":"e25d79c9.bf04a8","type":"inject","z":"cb40cbfd.ffb358","name":"On","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":480,"wires":[["321bcd4a.ecddd2"]]},{"id":"584f99d.2deca68","type":"inject","z":"cb40cbfd.ffb358","name":"Off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":520,"wires":[["321bcd4a.ecddd2"]]},{"id":"90fdd167.2c7f5","type":"inject","z":"cb40cbfd.ffb358","name":"","topic":"","payload":"sync","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"10","x":250,"y":560,"wires":[["321bcd4a.ecddd2"]]},{"id":"952ee5f8.fdeed8","type":"inject","z":"cb40cbfd.ffb358","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":600,"wires":[["321bcd4a.ecddd2"]]},{"id":"321bcd4a.ecddd2","type":"bigtimer","z":"cb40cbfd.ffb358","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Sunrise/Sunset","comment":"","lat":"33.88972888","lon":"-83.81535298","starttime":"5003","endtime":"5004","startoff":0,"endoff":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":460,"y":540,"wires":[["a863471f.413828"],[],[]]},{"id":"9faf11f4.9c5aa","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.master_main_closet","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1060,"y":140,"wires":[[],["4a661e52.3541"]]},{"id":"34287961.2078c6","type":"inject","z":"cb40cbfd.ffb358","name":"Startup Sync","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":230,"y":280,"wires":[["d18c5d29.0f2ae"]]},{"id":"f0a8fac1.7692a8","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.master_main_closet","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":280,"wires":[[],["158bad7c.ed0a43"]]},{"id":"a76941ca.57f93","type":"status","z":"cb40cbfd.ffb358","name":"","scope":["b57291e0.079a5"],"x":120,"y":320,"wires":[["d473e585.0cc7d8"]]},{"id":"d473e585.0cc7d8","type":"switch","z":"cb40cbfd.ffb358","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":320,"wires":[["d18c5d29.0f2ae"]]},{"id":"d18c5d29.0f2ae","type":"delay","z":"cb40cbfd.ffb358","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":280,"wires":[["f0a8fac1.7692a8"]]},{"id":"451c6187.60fc5","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"Basement Stairway Motion","server":"4569a41f.73170c","version":"1","entityidfilter":"binary_sensor.basement_stairway_switch_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":210,"y":2040,"wires":[["9f3c4d07.497aa"]]},{"id":"9f3c4d07.497aa","type":"switch","z":"cb40cbfd.ffb358","name":"Motion On/Off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":2040,"wires":[["b44a72dd.201c6","f52ce9e0.3602f8"],["bff7a329.c9b86"]]},{"id":"b44a72dd.201c6","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light On?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.basement_stairway_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1120,"y":1900,"wires":[[],["af95df0a.1854a"]]},{"id":"af95df0a.1854a","type":"api-call-service","z":"cb40cbfd.ffb358","name":"Basement Stair ON","server":"4569a41f.73170c","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.basement_stairway_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1510,"y":1900,"wires":[[]]},{"id":"d04a1997.5b28e8","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"switch.basement_stairway_light","server":"4569a41f.73170c","version":1,"entityidfilter":"switch.basement_stairway_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":170,"y":1880,"wires":[[],["bff7a329.c9b86"]]},{"id":"9dea486a.6e9fd8","type":"api-call-service","z":"cb40cbfd.ffb358","name":"Basement Stair OFF","server":"4569a41f.73170c","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.basement_stairway_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1520,"y":1980,"wires":[[]]},{"id":"3a1d3715.f69698","type":"comment","z":"cb40cbfd.ffb358","name":"Basement Light control","info":"","x":160,"y":1620,"wires":[]},{"id":"aa98741b.3418a8","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.basement_stairway_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1320,"y":1980,"wires":[[],["9dea486a.6e9fd8"]]},{"id":"26dcdd6d.8ccf32","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"Basement Door state","server":"4569a41f.73170c","version":"1","entityidfilter":"binary_sensor.basement_stairway_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":180,"y":1720,"wires":[["c2f6d01.cad543"]]},{"id":"c2f6d01.cad543","type":"switch","z":"cb40cbfd.ffb358","name":"Door Opened?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":1720,"wires":[["b44a72dd.201c6","bff7a329.c9b86"],[]]},{"id":"8d1d5950.50db58","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.basement_stairway_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":1800,"wires":[[],["bff7a329.c9b86"]]},{"id":"c3831c85.9f4dc","type":"inject","z":"cb40cbfd.ffb358","name":"Startup Sync","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":210,"y":1780,"wires":[["91f8087f.17d318"]]},{"id":"65133857.b5a288","type":"status","z":"cb40cbfd.ffb358","name":"","scope":["d04a1997.5b28e8"],"x":100,"y":1820,"wires":[["cbbf82da.942b3"]]},{"id":"cbbf82da.942b3","type":"switch","z":"cb40cbfd.ffb358","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":1820,"wires":[["91f8087f.17d318"]]},{"id":"91f8087f.17d318","type":"delay","z":"cb40cbfd.ffb358","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":1800,"wires":[["8d1d5950.50db58"]]},{"id":"611befb5.dd2d4","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"switch.basement_lights","server":"4569a41f.73170c","version":"1","entityidfilter":"switch.basement_lights","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":220,"y":2200,"wires":[[],["dc4137ed.2e9d88"]],"outputLabels":["","timer"]},{"id":"4031c055.c8214","type":"api-call-service","z":"cb40cbfd.ffb358","name":"Basement OFF","server":"4569a41f.73170c","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.basement_lights","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1540,"y":2200,"wires":[[]]},{"id":"93c915b1.19bce8","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.basement_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1340,"y":2200,"wires":[[],["4031c055.c8214"]]},{"id":"7672bb4b.9d9c24","type":"inject","z":"cb40cbfd.ffb358","name":"Startup Sync","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":250,"y":2280,"wires":[["fe0a6413.6e8158"]]},{"id":"d42c1d2.e4f90e","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.basement_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":2280,"wires":[[],["dc4137ed.2e9d88"]]},{"id":"9a5705c3.342e78","type":"status","z":"cb40cbfd.ffb358","name":"","scope":["611befb5.dd2d4"],"x":140,"y":2320,"wires":[["6deb5ff6.8fb53"]]},{"id":"6deb5ff6.8fb53","type":"switch","z":"cb40cbfd.ffb358","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":2320,"wires":[["fe0a6413.6e8158"]]},{"id":"fe0a6413.6e8158","type":"delay","z":"cb40cbfd.ffb358","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":2280,"wires":[["d42c1d2.e4f90e"]]},{"id":"f52ce9e0.3602f8","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light On?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.basement_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1340,"y":2100,"wires":[[],["d1fd20bf.6424"]]},{"id":"d1fd20bf.6424","type":"api-call-service","z":"cb40cbfd.ffb358","name":"Basement ON","server":"4569a41f.73170c","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.basement_lights","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1540,"y":2100,"wires":[[]]},{"id":"9c22857f.1caf68","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Motion On?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.basement_occupancy","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1150,"y":2200,"wires":[[],["93c915b1.19bce8"]]},{"id":"bff7a329.c9b86","type":"change","z":"cb40cbfd.ffb358","name":"Timer 5m","rules":[{"t":"set","p":"payload","pt":"msg","to":"timer 300","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1880,"wires":[["9971feba.d6d0b"]]},{"id":"dc4137ed.2e9d88","type":"change","z":"cb40cbfd.ffb358","name":"Timer 15m","rules":[{"t":"set","p":"payload","pt":"msg","to":"timer 900","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":2220,"wires":[["918f1494.51c148"]]},{"id":"9971feba.d6d0b","type":"bigtimer","z":"cb40cbfd.ffb358","outtopic":"","outpayload1":"","outpayload2":"off","name":"Big Timer","comment":"","lat":"33.88981","lon":"-83.81552","starttime":"0","endtime":"10010","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":1060,"y":1980,"wires":[["aa98741b.3418a8"],[],[]]},{"id":"918f1494.51c148","type":"bigtimer","z":"cb40cbfd.ffb358","outtopic":"","outpayload1":"","outpayload2":"off","name":"Big Timer","comment":"","lat":"33.88981","lon":"-83.81552","starttime":"0","endtime":"10010","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":960,"y":2220,"wires":[["9c22857f.1caf68"],[],[]]},{"id":"5a996a74.027634","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"Basement Occupancy","server":"4569a41f.73170c","version":"1","entityidfilter":"binary_sensor.basement_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":220,"y":2100,"wires":[["25e3bee9.fe6f12"]]},{"id":"25e3bee9.fe6f12","type":"switch","z":"cb40cbfd.ffb358","name":"Motion On/Off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":2100,"wires":[["f52ce9e0.3602f8"],["dc4137ed.2e9d88"]]},{"id":"fbd6248a.baa218","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"Utility Room Door","server":"4569a41f.73170c","version":"1","entityidfilter":"binary_sensor.utility_room_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":240,"y":1300,"wires":[["14903b8b.40f0b4"]]},{"id":"14903b8b.40f0b4","type":"switch","z":"cb40cbfd.ffb358","name":"Opened/Closed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":1300,"wires":[["f4633a36.5641e8","6c37c712.5a2a88"],["10bbe386.9763cc"]]},{"id":"f4633a36.5641e8","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light On?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.utility_room_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1060,"y":1300,"wires":[[],["df727a7f.22a488"]]},{"id":"df727a7f.22a488","type":"api-call-service","z":"cb40cbfd.ffb358","name":"ON","server":"4569a41f.73170c","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.utility_room_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1210,"y":1300,"wires":[[]]},{"id":"3ba6fe22.33b0a2","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"switch.utility_room_light","server":"4569a41f.73170c","version":"1","entityidfilter":"switch.utility_room_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":260,"y":1380,"wires":[[],["c8bc57ec.acf138"]]},{"id":"6c37c712.5a2a88","type":"stoptimer","z":"cb40cbfd.ffb358","duration":"25","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":800,"y":1360,"wires":[["10bbe386.9763cc"],[]]},{"id":"4c990836.c39c98","type":"api-call-service","z":"cb40cbfd.ffb358","name":"OFF","server":"4569a41f.73170c","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.utility_room_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1210,"y":1340,"wires":[[]]},{"id":"9ef68d7d.11ada","type":"comment","z":"cb40cbfd.ffb358","name":"Utility Room Light Control","info":"","x":170,"y":1240,"wires":[]},{"id":"10bbe386.9763cc","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.utility_room_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1060,"y":1340,"wires":[[],["4c990836.c39c98"]]},{"id":"cfa53e84.00897","type":"inject","z":"cb40cbfd.ffb358","name":"Startup Sync","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":230,"y":1460,"wires":[["bf686123.c27b1"]]},{"id":"70db2360.1a489c","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.utility_room_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":1460,"wires":[[],["6c37c712.5a2a88"]]},{"id":"2273f7b.b0d2c08","type":"status","z":"cb40cbfd.ffb358","name":"","scope":["3ba6fe22.33b0a2"],"x":120,"y":1500,"wires":[["2c8fb8bd.baac08"]]},{"id":"2c8fb8bd.baac08","type":"switch","z":"cb40cbfd.ffb358","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":1500,"wires":[["bf686123.c27b1"]]},{"id":"bf686123.c27b1","type":"delay","z":"cb40cbfd.ffb358","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":1460,"wires":[["70db2360.1a489c"]]},{"id":"5812ed19.21c034","type":"comment","z":"cb40cbfd.ffb358","name":"Basement Light control","info":"","x":160,"y":2440,"wires":[]},{"id":"90b9f2ad.56c5d","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"Security Cabinet Door","server":"4569a41f.73170c","version":"1","entityidfilter":"binary_sensor.security_cabinet","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":220,"y":2520,"wires":[[]]},{"id":"70108b81.001db4","type":"inject","z":"cb40cbfd.ffb358","name":"Startup Sync","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":250,"y":2640,"wires":[["3e1a88eb.137508"]]},{"id":"e06cade.058385","type":"status","z":"cb40cbfd.ffb358","name":"","scope":["90b9f2ad.56c5d"],"x":140,"y":2680,"wires":[["4534a077.0087a"]]},{"id":"4534a077.0087a","type":"switch","z":"cb40cbfd.ffb358","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":2680,"wires":[["3e1a88eb.137508"]]},{"id":"3e1a88eb.137508","type":"delay","z":"cb40cbfd.ffb358","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":2640,"wires":[[]]},{"id":"e275e232.be3ad","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"Main Entry Door","server":"4569a41f.73170c","version":"1","entityidfilter":"binary_sensor.main_entry_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":240,"y":2840,"wires":[["33aa661b.f3ec4a"]]},{"id":"33aa661b.f3ec4a","type":"switch","z":"cb40cbfd.ffb358","name":"Opened/Closed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":2840,"wires":[["51041aa.9a4a7e4","c862e4cb.61f178"],[]]},{"id":"51041aa.9a4a7e4","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light On?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.main_entry_hall_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1060,"y":2840,"wires":[[],["9ae32959.174838"]]},{"id":"9ae32959.174838","type":"api-call-service","z":"cb40cbfd.ffb358","name":"ON","server":"4569a41f.73170c","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.main_entry_hall_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1210,"y":2840,"wires":[[]]},{"id":"3714b152.98183e","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"switch.main_entry_hall_light","server":"4569a41f.73170c","version":"1","entityidfilter":"switch.main_entry_hall_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":280,"y":2920,"wires":[[],["9eb28ce7.b5603"]]},{"id":"c862e4cb.61f178","type":"stoptimer","z":"cb40cbfd.ffb358","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":840,"y":2880,"wires":[["730e43ae.54e10c"],[]]},{"id":"e2f7ce3b.20d08","type":"api-call-service","z":"cb40cbfd.ffb358","name":"OFF","server":"4569a41f.73170c","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.main_entry_hall_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1210,"y":2880,"wires":[[]]},{"id":"471a28db.d71488","type":"comment","z":"cb40cbfd.ffb358","name":"Front Entry Hall Light","info":"","x":160,"y":2780,"wires":[]},{"id":"730e43ae.54e10c","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.main_entry_hall_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1060,"y":2880,"wires":[[],["e2f7ce3b.20d08"]]},{"id":"c36cc1ef.2df45","type":"inject","z":"cb40cbfd.ffb358","name":"Startup Sync","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":290,"y":3000,"wires":[["40193a81.092754"]]},{"id":"4dd4d5fc.1e4a9c","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.main_entry_hall_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":620,"y":3000,"wires":[[],["c862e4cb.61f178"]]},{"id":"bfcd2063.2b195","type":"status","z":"cb40cbfd.ffb358","name":"","scope":["3714b152.98183e"],"x":180,"y":3040,"wires":[["bff0ba9c.127b88"]]},{"id":"bff0ba9c.127b88","type":"switch","z":"cb40cbfd.ffb358","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":3040,"wires":[["40193a81.092754"]]},{"id":"40193a81.092754","type":"delay","z":"cb40cbfd.ffb358","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":3000,"wires":[["4dd4d5fc.1e4a9c"]]},{"id":"c3ec4844.3ed088","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"Garage Hallway Door","server":"4569a41f.73170c","version":1,"entityidfilter":"binary_sensor.garage_entry_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":260,"y":3180,"wires":[["146f1b1b.a99935"]]},{"id":"146f1b1b.a99935","type":"switch","z":"cb40cbfd.ffb358","name":"Opened/Closed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":3180,"wires":[["4ce0a737.7a5ea8","49362360.c5411c","b46317bb.e5dc68"],[]]},{"id":"4ce0a737.7a5ea8","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light On?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.garage_hall_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1280,"y":3180,"wires":[[],["c753813f.f0cf"]]},{"id":"c753813f.f0cf","type":"api-call-service","z":"cb40cbfd.ffb358","name":"ON","server":"4569a41f.73170c","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.garage_hall_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1430,"y":3180,"wires":[[]]},{"id":"3e62e56c.64aa2a","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"switch.garage_hall_light","server":"4569a41f.73170c","version":1,"entityidfilter":"switch.garage_hall_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":260,"y":3260,"wires":[[],["c69154b.74499a8"]]},{"id":"49362360.c5411c","type":"stoptimer","z":"cb40cbfd.ffb358","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":980,"y":3220,"wires":[["3a164ec4.a563b2"],[]]},{"id":"7f822812.2e2918","type":"api-call-service","z":"cb40cbfd.ffb358","name":"OFF","server":"4569a41f.73170c","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.garage_hall_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1430,"y":3240,"wires":[[]]},{"id":"247bf626.7b502a","type":"comment","z":"cb40cbfd.ffb358","name":"Garage Entry Hall Light","info":"","x":160,"y":3120,"wires":[]},{"id":"3a164ec4.a563b2","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.garage_hall_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1280,"y":3240,"wires":[[],["7f822812.2e2918"]]},{"id":"57691292.b1e17c","type":"inject","z":"cb40cbfd.ffb358","name":"Startup Sync","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":290,"y":3340,"wires":[["ab83cc7d.03e09"]]},{"id":"69acae0a.3ddd3","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.garage_hall_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":620,"y":3340,"wires":[[],["49362360.c5411c"]]},{"id":"92526f59.9d47","type":"status","z":"cb40cbfd.ffb358","name":"","scope":["3e62e56c.64aa2a"],"x":180,"y":3380,"wires":[["7865bf9.ea4884"]]},{"id":"7865bf9.ea4884","type":"switch","z":"cb40cbfd.ffb358","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":3380,"wires":[["ab83cc7d.03e09"]]},{"id":"ab83cc7d.03e09","type":"delay","z":"cb40cbfd.ffb358","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":3340,"wires":[["69acae0a.3ddd3"]]},{"id":"de7efcbb.3516b","type":"switch","z":"cb40cbfd.ffb358","name":"Motion On/Off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":3760,"wires":[["b46317bb.e5dc68"],["73ae9542.7d7bdc"]]},{"id":"b46317bb.e5dc68","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light On?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.garage_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1260,"y":3680,"wires":[[],["e1896117.47f5"]]},{"id":"e1896117.47f5","type":"api-call-service","z":"cb40cbfd.ffb358","name":"ON","server":"4569a41f.73170c","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.garage_lights","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1490,"y":3680,"wires":[[]]},{"id":"32df08cf.37ca48","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"switch.garage_lights","server":"4569a41f.73170c","version":"1","entityidfilter":"switch.garage_lights","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":230,"y":3680,"wires":[[],["73ae9542.7d7bdc"]]},{"id":"73ae9542.7d7bdc","type":"stoptimer","z":"cb40cbfd.ffb358","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":920,"y":3680,"wires":[["3d27e4f9.6f8bbc"],[]]},{"id":"3d27e4f9.6f8bbc","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Motion On?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.garage_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1130,"y":3820,"wires":[["73ae9542.7d7bdc"],["beb2f483.ef3e68"]]},{"id":"59bc9a2f.11dd14","type":"api-call-service","z":"cb40cbfd.ffb358","name":"OFF","server":"4569a41f.73170c","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.garage_lights","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1490,"y":3800,"wires":[[]]},{"id":"a6d8e984.e07128","type":"comment","z":"cb40cbfd.ffb358","name":"Garage Light control","info":"","x":150,"y":3440,"wires":[]},{"id":"beb2f483.ef3e68","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.garage_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1340,"y":3800,"wires":[[],["59bc9a2f.11dd14"]]},{"id":"b2fa9555.6e0df8","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"Garage Door state","server":"4569a41f.73170c","version":"1","entityidfilter":"cover.main_garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":230,"y":3520,"wires":[["b03be0f.8cafe2"]]},{"id":"b03be0f.8cafe2","type":"switch","z":"cb40cbfd.ffb358","name":"Door Opened?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"closed","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":3520,"wires":[["b46317bb.e5dc68","73ae9542.7d7bdc"],[]]},{"id":"fe5af48f.48ab58","type":"api-current-state","z":"cb40cbfd.ffb358","name":"Light Off?","server":"4569a41f.73170c","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.garage_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":620,"y":3600,"wires":[[],["73ae9542.7d7bdc"]]},{"id":"920c30cf.17f58","type":"inject","z":"cb40cbfd.ffb358","name":"Startup Sync","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":270,"y":3580,"wires":[["5dc19611.b62088"]]},{"id":"7e2d2425.797fac","type":"status","z":"cb40cbfd.ffb358","name":"","scope":["32df08cf.37ca48"],"x":160,"y":3620,"wires":[["2b65698f.5cb166"]]},{"id":"2b65698f.5cb166","type":"switch","z":"cb40cbfd.ffb358","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":3620,"wires":[["5dc19611.b62088"]]},{"id":"5dc19611.b62088","type":"delay","z":"cb40cbfd.ffb358","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":3600,"wires":[["fe5af48f.48ab58"]]},{"id":"14fa3ac5.a901f5","type":"server-state-changed","z":"cb40cbfd.ffb358","name":"binary_sensor.garage_motion","server":"4569a41f.73170c","version":"1","entityidfilter":"binary_sensor.garage_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":200,"y":3760,"wires":[["de7efcbb.3516b"]]},{"id":"e85f1e2f.cd5cc","type":"stoptimer","z":"cb40cbfd.ffb358","duration":"90","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":780,"y":200,"wires":[["9faf11f4.9c5aa"],[]]},{"id":"c8bc57ec.acf138","type":"stoptimer","z":"cb40cbfd.ffb358","duration":"90","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":800,"y":1400,"wires":[["10bbe386.9763cc"],[]]},{"id":"9eb28ce7.b5603","type":"stoptimer","z":"cb40cbfd.ffb358","duration":"25","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":840,"y":2940,"wires":[["730e43ae.54e10c"],[]]},{"id":"c69154b.74499a8","type":"stoptimer","z":"cb40cbfd.ffb358","duration":"90","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":980,"y":3280,"wires":[["3a164ec4.a563b2"],[]]}]